.page {
  // opacity: 0;
}

.page {
  [data-att-loaded] & {
    // opacity: 1;
    // transition: 0.2s ease;
  }
}

.sec-2,
.sec-3 {
  opacity: 0;
  [data-att-loaded] & {
    opacity: 1;
    transition: 0.2s ease;
  }
}


.logo {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 5px;
  transform: translate(-50%,0);
  pointer-events: none;
  opacity: 0;
  transition: opacity .45s ease;
  .--section-2 & {
    opacity: 1;
  }
  @media (min-width:toEm($mobileSmall)){
    opacity: 1;
  }
  @media (min-width:toEm(375.98)){
    top: 40px;
  }
  @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
    top: 0px;
  }
  img {
    width: 98px;
    height: auto;
    @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
      transform: scale(0.5);
    }
    opacity: 0;
    transform: scale(0);
    [data-att-loaded] & {
      transition:  transform .3s ease .3s;
      transform: scale(1);
      opacity: 1;
    }
  }
}

.bg {
  position: fixed;
  z-index: -1;
  inset: 0;
  pointer-events: none;
  .bg-mountain,
  .bg-peanut  {
    position: absolute;
    inset: 0;
  }
  .bg-mountain {
    img {
      object-position: bottom;
      [data-att-loaded] & {
        transition: filter .7s ease, transform .7s ease;
      }
      @media (max-width:toEm($tablet)) and (min-width:toEm(480.98)){
        object-position: right;
      }
      @media (max-width:toEm($mobileSmall)){
        left: 50%;
        position: relative;
        min-width: 1550px;
        transform: translate(-79%, 0%);
      }
      @media (max-width:toEm($mobileSmall)) and (min-width:toEm(390.98))  {
        min-width: 1550px;
      }
      @media (max-width: toEm(375.98)){
        min-width: 1550px;
        object-position: center;
      }
      .--section-2 & {
        filter: blur(5px);
        @media (max-width:toEm($mobileSmall)){
          transform: translate(-26%, 0%);
        }
      }
    }
  }
  .bg-peanut {
    img {
      min-width: 150vw;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0.5);
      transition: opacity .2s ease, transform .45s ease;
      opacity: 0;
      transform-origin: center;
      @media (min-width:toEm($mobileSmall)){
        min-width: 112vw;
      }
      .--section-2 & {
        transform: translate(-50%,-50%) scale(1); 
        opacity: 1;
        transition-delay: .7s;
      }
      @media (max-width:toEm($mobileSmall)){
        .--section-2 & {
          // transform: translate(-50%,-50%) scale(1.4); 
        }
      }
    }
  }
}


[class*="__wrp"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  


.sec-1 {

		// .sec-1__wrp
		&__wrp {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: toEm(375.98)){
        align-items: flex-start;
      }
		}
    
		// .sec-1__block
		&__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 50px 0;
      @media (min-width:toEm($mobileSmall)){
        padding-block: 80px 0;
      }
      @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
       scale: 0.5;
      }
		}

		// .sec-1__title
		&__title {
      color: var(--white);
      font-size: 22px;
      text-align: center;
      line-height: 1.1;
      position: relative;
      z-index: 1;
      margin-bottom: 20px;
  
      .sec-1__title--1,
      .sec-1__title--2 {
        padding: 13px 21px 16px;
        position: relative;
        display: inline-block;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          clip-path: polygon(0 7%, 100% 1%, 98% 100%, 2% 95%);
        }
        &::before {
          background-color: var(--white);
          top: 4px;
          left: 4px;
        }
      }
      @media (min-width:toEm($mobileSmall)){
        font-size: 27px;
      }
    }
    
    // .sec-1__title--1
    &__title--1 {
        opacity: 0;
        transform: rotate(-3.81deg) translate(0,50%);
        bottom: -4px;
        left: -3px;
        z-index: 1;
        [data-att-loaded] & {
          opacity: 1;
          transform: rotate(-3.81deg) translate(0,0);
          transition: transform .65s ease .5s, opacity .2s ease .5s;
        }
        &::after {
          background-color: var(--blue);
        }
      }
      
      // .sec-1__title--2
      &__title--2 {
        opacity: 0;
        transform: rotate(-2.54deg) translate(0,50%);
        [data-att-loaded] & {
          transform: rotate(-2.54deg) translate(0,0);
          opacity: 1;
          transition: transform .65s ease .6s, opacity .2s ease .6s;
        }
        &::after {
          background-color: var(--green);
        }
		}

		// .sec-1__packs
		&__packs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .sec-1__pack-1,
      .sec-1__pack-2 {
        width: 136px;
        position: relative;
        @media (min-width:toEm($mobileSmall)){
          width: 176px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
		}
    
		// .sec-1__pack-1
		&__pack-1 {
      img {
        transform: rotate(-360deg) scale(0);
        [data-att-loaded] & {
          transform: rotate(-4deg);
          transition: transform .65s ease 0.7s;
        }
      }
		}
    
		// .sec-1__pack-2
		&__pack-2 {
      img {
        transform: rotate(360deg) scale(0);
        [data-att-loaded] & {
          transform: rotate(4deg);
          transition: transform .65s ease 0.8s;
        }
      }
		}

		// .sec-1__squirell
		&__squirell {
      position: absolute;
      left: -60px;
      bottom: 1vh;
      @media (min-width:toEm(1200.98)){
        left: 8vw;
        bottom: 9vh;
      }
      @media (max-width:toEm(1200.98)) and (min-width:toEm(820.98)){
        left: -60px;
        bottom: 3vh
      }
      @media (max-width: toEm(820.98)) and (min-width:toEm(480.98)) {
        left: 8vw;
        bottom: 1vh;
      }
      @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
       scale: 0.5;
       left: 0;
       bottom: 0;
      }
		}
    
		// .sec-1__squirell--img
		&__squirell--img {
      width: 264px;
      height: auto;
      position: relative;
      z-index: 2;
      transform: translate(-30%,0) scale(0.8);
      opacity: 0;
      [data-att-loaded] &  {
        transform: translate(0%,0) scale(1);
        opacity: 1;
         transition: transform .45s ease 1.2s, opacity .3s ease 1.2s;
      }
		}
  }
// cubic-bezier(.18,1.08,.33,1.07)
.subtitle {
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 55%;
  width: 100%;
  max-width: max-content;
  line-height: 1.25;
  text-align: center;
  color: var(--white);
  padding: 21px 21px 40px 19px;
  transform: rotate(-30deg) scale(0);
  [data-att-loaded] & {
    transform: rotate(-3.81deg) scale(1);
    transition: transform .65s cubic-bezier(.18,1.08,.33,1.07) 1.5s;
  }
  @media (min-width:toEm(1300.98)){
    left: 52%;
  }
  @media (max-width: toEm(1300.98)) and (min-width:toEm(1200.98)) {
    left: 30%;
  }
  @media (max-width: toEm(820.98)) and (min-width:toEm(480.98)){
    left: 92%;
    bottom: 38%;
  }
  @media (max-width:toEm($mobileSmall)){
    left: 90%;
    bottom: 8%;
  }
   .txt--top,
   .txt--mdl,
   .txt--btm {
    display: inline-block;
    position: relative;
    z-index: 1;
    &::before {
      content: attr(data-text);
    	position: absolute;
    	left: 0;
    	top: 0;
    	z-index: -1;
        
    	color: transparent;
    	-webkit-text-stroke: 6px #000;
    	text-stroke: 6px #000;
    }
   }
  .txt--top {
    font-size: 18px;
    @media (min-width:toEm($mobileSmall)){
      font-size: 20px;
    }
  }
  .txt--mdl {
    color: var(--green-light);
    font-size: 20px;
    text-transform: uppercase;
    @media (min-width:toEm($mobileSmall)){
      font-size: 23px;
    }
  }
  .txt--btm {
    font-size: 16px;
    br {
      @media (min-width:toEm($mobileSmall)){
         display: none; 
      }
    }
  }
  .path {
    position: absolute;
    inset: 0;
    z-index: -1;
    &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--yellow);
        z-index: -1;
        clip-path: polygon(0 5%, 100% 0%, 94% 87%, 3% 78%);
        @media (min-width:toEm($mobileSmall)){
          clip-path: polygon(0 5%, 100% 0%, 94% 87%, 45% 82%, 21% 98%, 35% 81%, 3% 78%);
        }
      }
      &::before {
        background-color: var(--white);
        top: 4px;
        left: 4px;
      }
      &--2 {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-47%, -1%) rotate(2deg);
        z-index: -2;
        width: 101%;
        aspect-ratio: 238/120;
        @media (min-width:toEm($mobileSmall)){
          transform: translate(-48%,2%) rotate(3deg);
          width: 103%;
          height: auto;
        }
      }
  }
}




.sec-2 {

		// .sec-2__wrp
		&__wrp {
      display: flex;
      align-items: center;
      justify-content: center;
		}

		// .sec-2__video
		&__video {
      position: relative;
      // flex: 1;
      width: 100%;
      max-width: 964px;
      padding-block: 65px 100px;
      padding-inline: 30px;
      @media (min-width:toEm($mobile)){
        padding-block:100px 45px;
        padding-inline: 120px;
      }
      @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
        max-width: 80%;
        padding-block:50px 45px;
      }
      .video-youtube {
      }
      .video-youtube__body {
      }
      .video-youtube__button {}
		}

		// .sec-2__social
		&__social {
      position: absolute;
      left: 50%;
      top: calc(100% - 60px);
      transform: translate(-50%,0%);
      display: flex;
      gap: 20px;
      @media (min-width:toEm($mobile)){
        flex-direction: column;
        left: 20px;
        top: 50%;
        transform: translate(0,-50%);
      }
      @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
         flex-direction: column;
        left: 20px;
        top: 50%;
        transform: translate(0,-50%);
        gap: 5px;
      }
		}

		// .sec-2__social-item
		&__social-item {
    }
    
		// .sec-2__social-link
		&__social-link {
      width: 60px;
      height: 60px;
      background-color: var(--yellow);
      transition: background-color .2s ease;
      svg {
        transition: transform .3s ease;
        path {
          transition: fill .2s ease, stroke .2s ease;
        }
      }
      @media (any-hover: hover){
        &:hover{
          background-color: var(--primary);
          svg {
            transform: scale(1.1);
          }
          path {
            fill: var(--yellow);
            stroke: var(--yellow);
            &[stroke] {
              fill: none;
            }
          }
        }
      }
		}
}


.sec-3 {

		// .sec-3__wrp
		&__wrp {
      display: grid;
      place-items: center;
      padding-inline: 20px;
      
		}

		// .sec-3__slider
		&__slider {
      min-width: 0;
      width: 100%;
      max-width: 80%;
      padding-block: 80px 0px;
      margin-inline: auto;
      // border: 1px solid #000;
      @media (min-width:toEm($mobileSmall)){
        max-width: 514px;
        padding-block: 135px 10px;
      }
      @media (max-width: toEm(850.98)) and (min-width: toEm(500.98)) and (max-height: toEm(500.98)) {
          scale: 0.5;
          transform: translate(0,-10%);
          padding-block: 0;
        }
      &.swiper {
        overflow: visible;
      }
		}

		// .sec-3__wrapper
		&__wrapper {
		}

		// .sec-3__slide
		&__slide {
      user-select: none;
		}

		// .sec-3__item
		&__item {
      cursor: pointer;
      @media (any-hover: hover){
        &:hover{
          .sec-3__img {
            img {
              transform: scale(1.08) rotate(-4deg);
            }
          }
          .sec-3__txt {
            transform: rotate(0deg);
          }
        }
      }
		}

		// .sec-3__img
		&__img {
      max-width: 170px;
      width: 100%;
      margin-inline: auto;
      margin-bottom: 20px;
      @media (min-width:toEm(480.98)){
        max-width: 162px;
      }
      @media (max-width: toEm(375.98)){
        max-width: 150px;
      }
      img {
        width: 100%;
        height: auto;
        transition: transform .2s ease;
      }
		}

		// .sec-3__txt
		&__txt {
      text-align: center;
      padding: 20px;
      position: relative;
      transform: rotate(-2.4deg);
      font-size: 18px;
      line-height: 1.22;
      max-width: 80%;
      margin-inline: auto;
      transition: transform .2s ease;
      @media (min-width:toEm($mobileSmall)){
        padding: 16px 10px 18px;
        margin-inline: auto 0;
        max-width: 95%;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        z-index: -1;
        clip-path: polygon(0 7%, 100% 1%, 98% 100%, 2% 95%);
      }
      &::before {
        background-color: var(--primary);
        top: 4px;
        left: 4px;
      }
		}
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  @media (min-width:toEm($mobileSmall)){
     display: none; 
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 6px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    &.swiper-pagination-bullet-active {
      background-color: rgba(255, 255, 255, 1);
    }
  } 
}